/.idea/
/node_modules/
/nbproject/
/tmp

deploy_rsa
deploy_rsa.pub
travis_deploy_rsa
travis_deploy_rsa.pub

# Mac OS files
**/.DS_Store

# Eclipse
/.project
/.settings
.env
npm-debug.log
dump.rdb
/.scannerwork
/*.heapsnapshot
